@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body::-webkit-scrollbar {
    display: none;
}

.outer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 8vmin;
    /* transform: translateX(2%); */
    /* background-image: url(/images/background.jpg); */
    margin: 0;
    background: #202020;
    overflow: hidden;
    color: white;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
    overflow: hidden;

}

.fluidbox{
    min-height: 500%;
    min-width: 250%;
    transform: translate(0, -200%) rotate(45deg);
    position: absolute;
    border-radius: 35%;
    background:white;
    z-index: 1;
    animation: spin 2s linear;
    display: none;
    
}
@keyframes spin {
    0%{
        transform: translateY(-79%);
    }
    100%{

        transform: translateY(-5000px) rotate(200deg);
    }
}


.inheader{
    height: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* position: relative; */
    /* line-height: 10px; */
}

header h1{
    font-size: 4rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    line-height: 1.5em;

}

#instaa{
    color: inherit;
    
}

nav{
    margin: 2vw 0 0 0;
}

a{
    text-decoration: none;
    

}

.span{
    color: rgb(255, 66, 66);
    
    animation-duration: 1s;
    animation-name: opacity;
    animation-iteration-count: infinite;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

header h1 a{
    color: white;
    text-decoration-color: rgba(255, 255, 255, 0);

}

header h1 a:hover{
    /* color: red; */
    text-decoration: line-through;
    text-decoration-color: rgb(255, 46, 46);
    text-decoration-thickness: 15px;
    transition: 0.3s;
}

nav a{
    display: inline-block;
    margin: 0 2vw 0 0;
    text-decoration-color: rgba(255, 255, 255, 0);
    /* color: #f5ffd4; */
    color: inherit;
    


}
::selection {
    color: #202020;
    background: red;
}

nav a:hover {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 34, 34);
    text-decoration-thickness: 5px;
    transition: 0.3s;

}


.fuck{
    height: 100vh;
    padding: 0;
    margin: 0;
    background: white;
    color: #202020;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
}

.off{
    height: 100%;
    max-width: 1000px;
    padding: 8vmin;
    /* color: rgb(121, 193, 149); */
    font-size: 45px;
    box-sizing: border-box;
    text-align: right;
}

/* @media (min-width: 800px){
    .header{
        border-left: 50px dashed white;
        /* border-top: 1px solid white; */
        
    /* }
} */

@media (max-width: 800px) {
    .header h1 {
        font-size: 2rem;
    }
    
    .inspired{
        left: 2%;
        bottom: 2%;
    }
    .fluidbox{
        min-height: 200%;
        min-width: 200%;
        transform: translate(0, -200%) rotate(45deg);
        position: absolute;
        border-radius: 37%;
        background:white;
        z-index: 1;
        animation: spin1 3s linear;
        
    }
    @keyframes spin1 {
        0%{
            transform: translateY(-50%);
        }
        100%{
    
            transform: translateY(-4000px) rotate(360deg);
        }
    }
}
@media (max-width: 600px) {
    nav {
        right: 0;
        display: flex;
        flex-direction: column;
        margin: 2vw 0px 50px;
        /* width: 10px; */
        padding: 0;
        padding-right: 12px;
        justify-content: flex-end;
        align-items: flex-end;
        /* border-right: 3px solid white;
        border-top: 3px solid white; */

        
    }

    
    nav a {
        margin: 10px 0 0 0;
    }

    .fluidbox{
        min-height: 200%;
        min-width: 300%;
        transform: translate(0, -200%) rotate(45deg);
        position: absolute;
        border-radius: 37%;
        background:white;
        z-index: 1;
        animation: spin1 2s linear;
        
    }
    @keyframes spin1 {
        0%{
            transform: translateY(-40%);
        }
        100%{
    
            transform: translateY(-2000px) rotate(360deg);
        }
    }

}

