@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body::-webkit-scrollbar {
    display: none;
}




.header{
    height: 100vh;
    padding: 8vmin;
    /* background-image: url(/images/background.jpg); */
    margin: 0;
    background: #111111;
    color: white;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
    overflow: hidden;

}


.inheader{
    height: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    /* line-height: 10px; */
}

header h1{
    font-size: 4rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    line-height: 1.5em;

}

marquee{
    transform: translateY(25px);
    /* margin-top: -1000px; */
    margin: 0;
    padding: 0;
}
#instaa{
    color: inherit;
    
}

nav{
    margin: 2vw 0 0 0;
}

a{
    text-decoration: none;
    

}

.span{
    color: rgb(255, 66, 66);
    
    animation-duration: 1s;
    animation-name: opacity;
    animation-iteration-count: infinite;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

header h1 a{
    color: white;
    text-decoration-color: rgba(255, 255, 255, 0);

}

header h1 a:hover{
    /* color: red; */
    text-decoration: line-through;
    text-decoration-color: rgb(255, 46, 46);
    text-decoration-thickness: 15px;
    transition: 0.3s;
}

nav a{
    display: inline-block;
    margin: 0 2vw 0 0;
    text-decoration-color: rgba(255, 255, 255, 0);
    /* color: #f5ffd4; */
    color: inherit;


}
::selection {
    text-shadow: none;
}

nav a:hover {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 34, 34);
    text-decoration-thickness: 5px;
    transition: 0.3s;

}


.fuck{
    height: 100vh;
    padding: 0;
    margin: 0;
    background: white;
    color: #111111;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
}

.off{
    height: 100%;
    max-width: 1000px;
    padding: 8vmin;
    color: rgb(121, 193, 149);
    font-size: 45px;
    box-sizing: border-box;
    text-align: right;
}



@media (max-width: 800px) {
    .header h1 {
        font-size: 2rem;
    }
    marquee{
        transform: translateY(11px);
        /* margin-top: -1000px; */
        margin: 0;
        padding: 0;
    }
    .inspired{
        left: 2%;
        bottom: 2%;
    }
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        margin: 2vw 0 50px 0;
        
    }
    marquee{
        transform: translateY(8px);
        /* margin-top: -1000px; */
        margin: 0;
        padding: 0;
    }
    
    nav a {
        margin: 10px 0 0 0;
    }

}

