@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body::-webkit-scrollbar {
    display: none;
}


.header{
    height: 100vh;
    padding: 8vmin;

    margin: 0;
    background: #111111;
    color: white;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
    overflow: hidden;

}

.inheader{
    height: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    /* line-height: 10px; */
}

header h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5em;

}

nav{
    margin: 2vw 0 0 0;
}

a{
    text-decoration: none;

}

.span{
    color: red;
    animation-duration: 1s;
    animation-name: opacity;
    animation-iteration-count: infinite;
}

@-webkit-keyframes opacity{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

header h1 a{
    color: white;
    text-decoration-color: rgba(255, 255, 255, 0);

}

header h1 a:hover{
    /* color: red; */
    text-decoration: line-through;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-thickness: 15px;
    transition: 0.3s;
}

nav a{
    display: inline-block;
    margin: 0 2vw 0 0;
    text-decoration-color: rgba(255, 255, 255, 0);
    color: rgb(142, 142, 142);

}
::selection {
    text-shadow: none;
    background-color: rgb(255, 0, 0);
}

nav a:hover {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    transition: 0.3s;

}


.fuck{
    height: 100vh;
    padding: 0;
    margin: 0;
    background: white;
    color: #111111;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: end;
}

.off{
    height: 100%;
    max-width: 1000px;
    padding: 8vmin;
    box-sizing: border-box;
    text-align: right;
}



@media (max-width: 800px) {
    .header h1 {
        font-size: 2rem;
    }
    .inspired{
        left: 2%;
        bottom: 2%;
    }
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 10px 0 0 0;
    }

}

